@model IEnumerable<JiPP_2.Models.DictionaryModel>

@{
    ViewData["Title"] = "Słowniki";
}

<h1>Słowniki</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <a asp-controller="DictionaryDetail" asp-route-id="@((int)item.Id)" class="btn btn-secondary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
