@model JiPP_2.Models.DictionaryDetailModel

@{
    ViewData["Title"] = ViewData["DictionaryName"] + " - " + Model.Name;
}

<h4>Czy na pewno chcesz usunąć ten wpis?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @ViewData["DictionaryName"]
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" asp-route-id="@((int)Model.Type)" class="btn btn-info">Powrót do listy</a>
    </form>
</div>